[pylint]
disable=
    bare-except,
    broad-except,
    consider-using-f-string,
    consider-using-generator,
    consider-using-with,
    expression-not-assigned,
    f-string-without-interpolation,
    global-statement,
    import-error,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    multiple-statements,
    no-else-return,
    no-member,
    no-value-for-parameter,
    raise-missing-from,
    redefined-outer-name,
    superfluous-parens,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-statements,
    trailing-newlines,
    trailing-whitespace,
    unidiomatic-typecheck,
    unreachable,
    unspecified-encoding,
    unused-argument,
    unused-import,
    unused-variable,
    useless-return,
    wrong-import-order,
    protected-access,
    too-many-arguments,
    chained-comparison,
    duplicate-code,
    consider-using-dict-items,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
